nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock

# https://github.com/teslamate-org/teslamate/blob/dbd758c230b0819e1e285cea0fb5964cc9722e23/.envrc#L1
if ! use flake . --override-input root "file+file://"<(printf %s "$PWD")
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
